*.o

# by Make
/test/args
/test/clock
/test/crt_string
/test/ctype
/test/daxpy
/test/echo
/test/flush
/test/hello
/test/hello_cpp
/test/hello_eigen
/test/hello_openssl
/test/malloc
/test/md5
/test/memcpy
/test/mt_clock
/test/mt_vecadd
/test/mt_vecaddf
/test/pthread
/test/pthread_barrier
/test/pthread_cond
/test/reboot
/test/saxpy
/test/sgemm
/test/vecadd
/test/vecaddf
/test/coremark/coremark
/test/dhrystone/dhrystone
