# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/clk/Kconfig"
source "drivers/cpu/Kconfig"
source "drivers/intc/Kconfig"
source "drivers/reset/Kconfig"
source "drivers/timer/Kconfig"
source "drivers/uart/Kconfig"

endmenu
